header {
  grid-area:welcome;
  background-color:#008000;
  color: #FFA500
  font-size: 22px;
  padding: 24px;
  border-radius: 22px;
  border-style: double;
  border-color:#7CFC00
}


body{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 15px;
  grid-template-areas:
    "home home"
    "about about"
    "reels reels"
    font-family: "Lato"
}

img{

}

img{

}

h1,
h2,
h2{
  font-family:"Roboto"
}
