body {
  font-family: sans-serif;
  line-height: 1.5;
}

header,
nav,
footer {
  background-color: #006400;
}

section {
  background-color: #FF8C00;
}

body {
  max-width: 960px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  grid-template-areas:
    "home    home"
    "about   about"
    "reels   reels";
}

h2 {
  margin-top: 0;
}

p {
  margin: 0;
}

header,
footer {
  padding: 0 20px;
}

header {
  grid-area: home;
}

nav {
  grid-area: navigation;
}

main {
  grid-area: welcome;
}

section {
  padding: 20px;
}
